save-exact=true
# TODO: Investigate more elegant solution to hoist these packages
public-hoist-pattern[]=@testing-library/jest-dom
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=@vitest*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=jsdom
public-hoist-pattern[]=prettier*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=tailwindcss
public-hoist-pattern[]=typescript
public-hoist-pattern[]=vitest*
