# TODO: Investigate more elegant solution to hoist these packages
public-hoist-pattern[]=prettier*
public-hoist-pattern[]=@types/node
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*vite*
public-hoist-pattern[]=@testing-library/jest-dom
public-hoist-pattern[]=typescript
